
/* FOR MOBILE AND TABLET SCREEN */
@media (max-width:768px) {
    
    /*################################  GENERAL  #####################################*/
     h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {   
        font-size: 16px;
    }

    h4 {
        font-size: 9px;
    }

    p.info {
        font-weight: 400;
        font-size: 30px;
        color: #333;
        letter-spacing: 1px;
        line-height: 40px;
    }

    p.small {
        letter-spacing: 4px;
        font-size: 22px;
        padding: 0 1em;
    }
    
    .large-device {
        display: none;
    }

    /*################################  HEDER  #####################################*/
   .col-12 {
       padding: 0;
   }
   
    header .navigation {
        padding: 20px 10px;
        margin-bottom: 143px;
    }

    header .logo {
        float: left;
        text-indent: -9999px;
        display: block;
        background: url('../elements/diwanee-logo.png') no-repeat;
        width: 125px;
        height: 34px;
    }
      
    #nav-trigger {
            display: block; 
            position: absolute;
            top: 27px;
            right: 16px;
    }

    nav#nav-main {
            display: none; 
    }

    nav#nav-mobile {
            display: block; 
    }   
    
    nav#nav-mobile ul li.mobile-device {
        display: block!important;
    }

    header h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    header p.info {
        display: none;
    }
    
    header .mobile-device {
        display: block!important;
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        color: #333;
        letter-spacing: 1px;
        line-height: 40px;
        padding-top: 70px;
        padding-bottom: 193px;
        text-transform: uppercase;
    }
    
     /*################################  SECTION ABOUT US  #####################################*/
     
     .col-4 {
         float: none;
         width: 100%;
     }

     section.about-as h3 {
        padding: 30px 0 30px;
     }

     section.about-as p {
        font-size: 16px;
        padding: 38px 0 0;

     }
     .middle, .img-left, .img-right {
        padding: 57px 1em 57px;
     }

     .img-left {
        background: transparent;
        
     }

     .img-right {
        background: transparent;
   
     }

    /*################################  JOBS  #####################################*/
    section.jobs {
        padding: 45px 0;
    }

    section.jobs h2 {
        padding: 2px 0 8px;
    }

    section.jobs p.info {
        padding: 20px 1em 64px;
        font-size: 25px;
        line-height: 40px;
    } 

    .col-8 {
        width: 100%;
        float: none;
    }

    section.jobs p.job-description {
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    section.jobs ul li {
        border: none;
        padding: 0;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
    }


    .wrap {
        padding: 20px 1em;
        background: #f8f7f5;
    }

    .dark {
        background: #ffffff;
    }

    .dark h3 {
        color: #333;
    }
    section.jobs .dark ul li {
        color: #C41230;
    }

    .more {
        padding: 50px 0;
    }
    .more a.btn {
        float: none;
        display: block;
        width: 80%;
        margin: 0 auto; 
        text-align: center;
        padding: 10px 0
   
    }

    /*################################  ABOUT COMPANY  ##################################*/
    .light {
        padding: 44px 1em 54px;
    }
    
    section.about-company p.small {
        margin-bottom: 19px;
    }

    section.about-company hgroup h2 {
        padding: 0px 0 24px;
        letter-spacing: 1px;
        line-height: 50px;
    }
    section.about-company hgroup hr.red {
        margin-bottom: 47px;
    }

    section.about-company p.justify {
        text-align: justify;
        margin-bottom: 35px;
        line-height: 30px;
        color: #333333;
        padding: 0 0.5em;
    }

    section.about-company .social {
        width: 100%;
        margin: 63px auto;
        
    }
    section.about-company .follow{
        padding: 0 0 14px 0;
    }
  
    /*################################  CONTACT US  ####################################*/

    section.contact {
        padding: 63px 1em 21px;
        text-align: center;
    }
    
    section.contact .mobile-margin {
        margin-bottom: 41px;
        float: left;
    }

    section.contact h5 {
        margin-left: 0;
        font-size: 18px;
        margin-bottom: 10px;
    }

    section.contact p {
        margin-left: 0;
        font-size: 18px;
        line-height: 24px;

    }

    /*################################  FOOTER  ####################################*/
    footer {
        padding: 0;
        background: none;
    }
    .col-6 {
        width:100%;
        padding-left: 0;
        float: none;
    }
    
    footer .copyright {
       background: #2d2d2d;
       text-align: center;
       padding: 15px 1em;
    }
    
    footer .right {
        background: #242424;
        padding: 20px 1em 20px;
        float: none;
        text-align: center;
        padding-right: 0;
        padding-left: 0%;
    }

    footer .right .fa {
        float: left;
        font-size: 30px;
        padding-left: 17px; 
    }

    footer .right a {
        font-size: 18px;
        font-weight: 600;
        float: right;
        padding-right: 17px;
    }

} /* end @media (max-width:768px) */


/* 
    EXTRA STYLING FOR SMALL LAPTOP AND LANDSCAPE 
    (there is a little duplication of css code, but this styling is not specified and required,
     and I not refactored this part)
*/
@media (max-width: 960px) {
    
    nav#nav-main ul li {
        padding-left: 35px;
    }
    .col-4 {
         float: none;
         width: 100%;
     }

     section.jobs {
        padding: 45px 0;
    }

    .col-8 {
        width: 100%;
        float: none;
    }

    .wrap {
        padding: 20px 1em; 
    }

    .col-2 {
        width: 100%;
        text-align: left;
        float:left; 
    }
    a.btn {
        float: left;
        margin-top: 5%;
    }
    
    .more a.btn {
        float: none;
        display: block;
        width: 80%;
        margin: 0 auto; 
        text-align: center;
        padding: 10px 0
    }

    .light {
        padding: 44px 1em 54px;
    }

    section.about-company .social {
        width: 100%;
        margin: 63px auto;     
    }
    section.about-company .follow{
        padding: 0 0 14px 0;
    }
    
    section.contact {
        padding: 63px 1em 21px;
        text-align: center;
    }
    
    section.contact .mobile-margin {
        margin-bottom: 41px;
        float: left;
    }

    section.contact h5 {
        margin-left: 0;
        font-size: 18px;
        margin-bottom: 10px;
    }

    section.contact p {
        margin-left: 0;
        font-size: 18px;
        line-height: 24px;

    }
    
    footer {
        padding: 0;
        background: none;
    }
    .col-6 {
        width:100%;
        padding-left: 0;
        float: none;
    }
    
    footer .copyright {
       background: #2d2d2d;
       text-align: center;
       padding: 15px 1em;
    }
    
    footer .right {
        background: #242424;
        padding: 20px 1em 20px;
        float: none;
        text-align: center;
        padding-right: 0;
        padding-left: 0%;
    }

    footer .right .fa {
        float: left;
        font-size: 30px;
        padding-left: 17px; 
    }

    footer .right a {
        font-size: 18px;
        font-weight: 600;
        float: right;
        padding-right: 17px;
    }

    
}